body {
  background: black;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

#outer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

h2 {
  text-align: right;
  padding: 0px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}

#inner {
  display: inline-block;
  height: 100%;
}

#sidebar {
  float: left;
}

.grouplink-div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
}

#photo-gallery, #hide-scrollbar {
  position: relative;
  width: 1060px; /* four thumbnails, each 250px wide + 5px left- and right-margin, plus extra 20 for scrollbar */
  height: 100%;
}

#photo-gallery {
  overflow-y: auto;
  left: 20px; /* move to the right to hide scrollbar */
}

#hide-scrollbar {
  float: left;
  left: -20px;
  overflow-x: hidden;
}

#photo-gallery {
  text-align: left; /* because set to center on #outer */
}

@media (max-width: 1320px) {
  #hide-scrollbar, #photo-gallery { width: 800px; }
}

@media (max-width: 1060px) {
  #hide-scrollbar, #photo-gallery { width: 540px; }
}


@media (max-width: 800px) {
  #hide-scrollbar, #photo-gallery { width: 280px; }
}

@media (max-width: 550px) {
  #sidebar { display: none; }
}

#showcases {
  display: none;
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
}

.showcase {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  background: rgba(0, 0, 0, 0.75);
}

.photo-viewer {
  position: relative;
  height: 100%;
}

.left-click, .right-click {
  display: block;
  height: 100%;
  width: 50%;
  float: left;
}

.left-click:hover, .right-click:hover {
  background-color: black;
}

.fullsize {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: black;
}

#loading {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.75) url(./loading.gif) center no-repeat;
  background-size: 64px 64px;
}

.photo-grid-square, .photo-grid-square-behind {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 5px;
}

.photo-grid-square .photo-link {
  position: absolute;
}

.photo-grid-square:hover {
  z-index: 1000;
}

.photo-grid-square:hover .photo-link {
  left: -25px;
  top: -25px;
  height: 300px;
  width: 300px;
}

.photo-grid-square:hover .thumbnail {
  height: 300px;
  width: 300px;
}

/* 420 820 */
