body {
  background: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}

#photos {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  width: 250px;
  float: left;
}

.grouplink-div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#photo-gallery {
  width: 1040px;
  float: left;
}

@media (max-width: 1320px) {
  #photos { width: 1030px; }
  #photo-gallery { width: 780px; }
}

@media (max-width: 1060px) {
  #photos { width: 770px; }
  #photo-gallery { width: 520px; }
}


@media (max-width: 800px) {
  #photos { width: 510px; }
  #photo-gallery { width: 260px; }
}

@media (max-width: 550px) {
  #photos { width: 260px; }
  #sidebar { display: none; }
}

#showcase {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
}

#leave-showcase {
  width: 100%;
  height: 100%;
}

#leave-showcase a {
  display: block;
  width: 100%;
  height: 100%;
}

#photo-floater {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#photo-floater a {
  display: block;
  float: left;
}

#left-click, #right-click {
  height: 100%;
  width: 50px;
  border: 1px solid white;
  float: left;
}

#left-click a, #right-click a {
  display: block;
  height: 100%;
  width: 100%;
}

#left-click a:hover, #right-click a:hover, #leave-showcase a:hover {
  background: black;
}

.photo-container {
  position: relative;
  left: -150%;
  width: 400%;
  text-align: center;
}

.photo-viewport {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.photo-grid-square, .photo-grid-square-behind {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 5px;
}

.photo-grid-square:hover {
  z-index: 1000;
}

.photo-grid-square .photo-viewport:hover {
  left: -25px;
  top: -25px;
  height: 300px;
  width: 300px;
}

.thumbnail {
  height: 250px;
}

.thumbnail-portrait {
  width: 250px;
}

.photo-grid-square .thumbnail:hover {
  height: 300px;
}

.photo-grid-square .thumbnail-portrait:hover {
  width: 300px;
}

/* 420 820 */
