body {
  margin: 0px;
}

#navbar {
  height: 33px;
  padding-left: 20px;
  padding-top: 17px;
  background-color: rgba(255,255,255,1);
  font-size: 16px;
}

#photo-wrapper {
  font-size: 0px;
  overflow: auto;
}

#photo-container {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

img.full-size {
  max-height: 100%;
  margin-right: 5px;
  vertical-align: middle;
}

img.full-size:last-of-type {
  margin-right: 0px;
}
